/* Center the main container */
.note-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Style for the button */
button.button-custom {
    background-color: #5f357c;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    max-width: 500px;
    transition: background-color 0.3s;
}

button.button-custom:hover {
    background-color: #4d2b66;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Style for the Textarea */
.textarea-custom {
    height: 700px;
    width: 100%;
    resize: vertical;
}